body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-top: 20px;
}

.table-container {
    width: 90%;
    max-width: 800px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

.libertadores {
    background-color: #00AF71 !important;
    color: white;
}

.sudamericana {
    background-color: #F5F374 !important;
}

.estudiantes {
    background-color: #006400 !important;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.highlight {
    background-color: #d9fdd3;
    font-weight: bold;
}

.diff-positive {
    color: green;
}

.diff-negative {
    color: red;
}

.calculator-container {
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
}

#matches-container {
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.match label {
    flex: 1;
}

.match input {
    width: 50px;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
